@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css');

body {
  overflow-x: hidden;
  direction: rtl;
}
* {
  box-sizing: border-box;
}
.btn {
  margin: 10px 0;
}
.vh100 {
    height: calc(100vh - 20px);
}
.vh-full {
  height: 100vh;
}

.container {
  padding: 10px 25px;
}

.slide-leave-active {
  transition: .2s;
}
.slide-enter-active {
  transition: .7s;
}
.slide-enter{
  transform: translateX(300%)
}
.slide-leave-to {
  transform: translateX(-100%)
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}


.area {
  display: flex;
  flex-direction: row-reverse;
  .area-item {
    flex-basis: 50%;
    display: flex;
    flex-direction: row-reverse;
    .container {
      min-height: 285px
    }    
  }
  .question {
    background:#f3f3f3;
  }
}
@import 'radio';

.vh-custom {
  height: calc(100vh - 80px)
}

.timer-relative {
  position: relative;
  .timer {
    position: absolute;
    width: 100%;
    height: 100px;
    font-size: 5em;
    font-weight: 400;
    top: -45%;
    left: 0;
  }
}

.circle {
  width: 200px;
  height: 200px;
  margin-top: 20px;
  color: #fff;
  font-size: 6em;
  border-radius: 50%;
  background: #27b627;
  display: flex;
}